public-hoist-pattern[]=@react-native-community/*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# shamefully-hoist=true
# node-linker=hoisted
# strict-peer-dependencies=false